<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmpInfoServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="EmpInfoServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://itec-web-dev02.radford.edu/fds/EmpInfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EmpInfoServiceSoap"
                contract="EIS.EmpInfoServiceSoap" name="EmpInfoServiceSoap" />
            <endpoint address="http://itec-web-dev02.radford.edu/fds/EmpInfoService.asmx"
                binding="customBinding" bindingConfiguration="EmpInfoServiceSoap12"
                contract="EIS.EmpInfoServiceSoap" name="EmpInfoServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>